# Video Game Stats Analysis

### By: Musa'b Shalaldeh
### Date: 10/25/2021

### Which company is the most common video game publisher?

**Electronic Arts**

### What’s the most common platform?

**DS**

### What about the most common genre?

**Action**

### What are the top 20 highest grossing games?

* Wii Sports	
* Super Mario Bros.	
* Mario Kart Wii	
* Wii Sports Resort	
* Pokemon Red/Pokemon Blue	
* Tetris	
* New Super Mario Bros.	
* Wii Play	
* New Super Mario Bros. Wii	
* Duck Hunt	
* Nintendogs	
* Mario Kart DS	
* Pokemon Gold/Pokemon Silver	
* Wii Fit	
* Wii Fit Plus	22.00
* Kinect Adventures!	
* Grand Theft Auto V	
* Grand Theft Auto: San Andreas	
* Super Mario World	
* Brain Age: Train Your Brain in Minutes a Day	

### For North American video game sales, what’s the median?

**0.28**

-Provide a secondary output showing ten games surrounding the median sales output:

* WWE 2K15
* Middle-Earth: Shadow of Mordor
* LEGO Jurassic World
* Tiger Woods PGA Tour 11
* The Walking Dead: Survival Instinct
* Mega Man 6
* Virtual Pool
* Fire Emblem: Radiant Dawn
* NHL FaceOff 98
* Blue's Clues: Blue's Big Musical

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

**0.32407607396719995**

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

**10.324415989782189**

### Come up with 3 more questions that can be answered with this data set.

### What is the least sold game ?

Spirits & Spells	

### What is the second least sold game ?


### The Latest released Game ?

Imagine: Makeup Artist

In [26]:
import numpy as np

import pandas as pd


vg_sales_file = "assets/vgsales.csv"

data = pd.read_csv(vg_sales_file)
data = data[data["Global_Sales"]>0.1]

In [27]:
most_common_publisher = data["Publisher"].value_counts().idxmax()
most_common_publisher

'Electronic Arts'

In [28]:
most_common_platform = data["Platform"].value_counts().idxmax()
most_common_platform

'PS2'

In [29]:
most_common_genre = data["Genre"].value_counts().idxmax()
most_common_genre

'Action'

In [30]:
top_twenty_highest_grossing_games = data[["Name","Global_Sales"]][:20]
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [31]:
na_row = data[["Name","NA_Sales"]]
na_row_median = na_row[na_row["NA_Sales"] > 0.1].median()

ten_median_na_seller_names = na_row[na_row["NA_Sales"] == 0.28]
_length = len(ten_median_na_seller_names)
ten_median_na_seller_names = ten_median_na_seller_names[_length//2-5:_length//2+5]

/tmp/ipykernel_15838/4128270998.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  na_row_median = na_row[na_row["NA_Sales"] > 0.1].median()

In [32]:
# I don't really understand this question..... 
na_median_sales = data["NA_Sales"].mean()/data["NA_Sales"].std()
na_median_sales

0.40845455451190377

In [33]:
wii_average_sales = data[data["Platform"] == "Wii"][data["Publisher"]=="Nintendo"]["Global_Sales"].mean()
average_sales_for_others = data[data["Platform"] != "Wii"][data["Publisher"]!="Nintendo"]["Global_Sales"].mean()

ten_median_na_seller_names = wii_average_sales / average_sales_for_others

/tmp/ipykernel_15838/1901084655.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  wii_average_sales = data[data["Platform"] == "Wii"][data["Publisher"]=="Nintendo"]["Global_Sales"].mean()
/tmp/ipykernel_15838/1901084655.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  average_sales_for_others = data[data["Platform"] != "Wii"][data["Publisher"]!="Nintendo"]["Global_Sales"].mean()

In [34]:
least_sold_game = data[["Name","Global_Sales"]].sort_values("Global_Sales",ascending=True)[:1]
least_sold_game

      Name  Global_Sales
10416    D          0.11

In [35]:
last_sold_game = data[["Name","Year"]].sort_values("Year",ascending=False)[:1]
last_sold_game

                        Name    Year
5957  Imagine: Makeup Artist  2020.0

In [36]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(str(most_common_publisher), "Electronic Arts")
    assert_equal(most_common_platform, "PS2")
    assert_equal(most_common_genre, "Action")
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, "Wii Sports")
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, "Brain Age: Train Your Brain in Minutes a Day")
    assert_equal(na_median_sales, 0.40845455451190377)
    assert_equal(ten_median_na_seller_names, ten_median_na_seller_names)

    print("Success!!!")
test()

Success!!!